In [51]:
import pandas as pd
import numpy as np
import seaborn as sns
import math

In [3]:
s_stat = pd.read_excel("/Users/seunghoonyang/Documents/001.경남대/1.강의/2022-01/사회조사통계/최종성적_사회조사통계_202201/사회조사통계및연습(0011097-2300)_성적_220620_153025.xlsx", skiprows=1)

In [4]:
s_stat

    No     학과          학번  학년   이름 수강구분 수강상태     출석    과제   최종점수  등급  비고
0    1   사회학과  2017110360   3  권민성  수강생  NaN   3.50  25.0  28.50 NaN NaN
1    2   사회학과  2017110371   3  김근홍  수강생  NaN   4.66  30.0  34.66 NaN NaN
2    3   사회학과  2018110347   4  정은화  수강생  NaN   8.16  42.0  50.16 NaN NaN
3    4   사회학과  2021110221   2  정유나  수강생  NaN  10.00  49.0  59.00 NaN NaN
4    5   사회학과  2019110373   2  김성수  수강생  NaN   8.50  57.5  66.00 NaN NaN
5    6   사회학과  2020110334   3  장민욱  수강생  NaN   9.00  57.5  66.50 NaN NaN
6    7   사회학과  2019110366   2  박소명  수강생  NaN   9.66  57.0  66.66 NaN NaN
7    8   사회학과  2019110378   2  최세훈  수강생  NaN  10.00  58.0  68.00 NaN NaN
8    9   사회학과  2017113073   4  권태현  수강생  NaN   9.50  71.5  81.00 NaN NaN
9   10   사회학과  2020110341   3  최지원  수강생  재수강   9.66  74.5  84.16 NaN NaN
10  11   사회학과  2015110390   4  허지현  수강생  NaN   9.66  75.0  84.66 NaN NaN
11  12   사회학과  2019110377   2  성현창  수강생  NaN   8.83  76.5  85.33 NaN NaN
12  13   사회학과  2019110385   3  김준태  수강생  NaN  10.00  79.0  89.00 NaN NaN
13  14  국어교육과  2019110905   4  김나리  수강생  NaN   8.66  80.5  89.16 NaN NaN
14  15   사회학과  2018110366   3  박형진  수강생  재수강   9.50  84.0  93.50 NaN NaN
15  16   사회학과  2021110223   2  유도겸  수강생  NaN  10.00  83.5  93.50 NaN NaN
16  17   사회학과  2021110219   2  고영주  수강생  NaN  10.00  84.5  94.50 NaN NaN
17  18   사회학과  2018110361   2  강성훈  수강생  NaN  10.00  89.5  99.50 NaN NaN

In [5]:
s_stat['등급'] = np.where(s_stat['최종점수'] >= 95, "A+", 
                np.where(s_stat['최종점수'] >= 90, "A",
                np.where(s_stat['최종점수'] >= 85, "B+",
                np.where(s_stat['최종점수'] >= 80, "B",
                np.where(s_stat['최종점수'] >= 75, "C+", 
                np.where(s_stat['최종점수'] >= 70, "C",
                np.where(s_stat['최종점수'] >= 65, "D+",
                np.where(s_stat['최종점수'] >= 60, "D", "F"))))))))

In [8]:
s_stat.sort_values("학번")

    No     학과          학번  학년   이름 수강구분 수강상태     출석    과제   최종점수  등급  비고
10  11   사회학과  2015110390   4  허지현  수강생  NaN   9.66  75.0  84.66   B NaN
0    1   사회학과  2017110360   3  권민성  수강생  NaN   3.50  25.0  28.50   F NaN
1    2   사회학과  2017110371   3  김근홍  수강생  NaN   4.66  30.0  34.66   F NaN
8    9   사회학과  2017113073   4  권태현  수강생  NaN   9.50  71.5  81.00   B NaN
2    3   사회학과  2018110347   4  정은화  수강생  NaN   8.16  42.0  50.16   F NaN
17  18   사회학과  2018110361   2  강성훈  수강생  NaN  10.00  89.5  99.50  A+ NaN
14  15   사회학과  2018110366   3  박형진  수강생  재수강   9.50  84.0  93.50   A NaN
6    7   사회학과  2019110366   2  박소명  수강생  NaN   9.66  57.0  66.66  D+ NaN
4    5   사회학과  2019110373   2  김성수  수강생  NaN   8.50  57.5  66.00  D+ NaN
11  12   사회학과  2019110377   2  성현창  수강생  NaN   8.83  76.5  85.33  B+ NaN
7    8   사회학과  2019110378   2  최세훈  수강생  NaN  10.00  58.0  68.00  D+ NaN
12  13   사회학과  2019110385   3  김준태  수강생  NaN  10.00  79.0  89.00  B+ NaN
13  14  국어교육과  2019110905   4  김나리  수강생  NaN   8.66  80.5  89.16  B+ NaN
5    6   사회학과  2020110334   3  장민욱  수강생  NaN   9.00  57.5  66.50  D+ NaN
9   10   사회학과  2020110341   3  최지원  수강생  재수강   9.66  74.5  84.16   B NaN
16  17   사회학과  2021110219   2  고영주  수강생  NaN  10.00  84.5  94.50   A NaN
3    4   사회학과  2021110221   2  정유나  수강생  NaN  10.00  49.0  59.00   F NaN
15  16   사회학과  2021110223   2  유도겸  수강생  NaN  10.00  83.5  93.50   A NaN

In [9]:
s_stat2 = pd.read_excel('/Users/seunghoonyang/Documents/001.경남대/1.강의/2022-01/사회조사통계/최종성적_사회조사통계_202201/사회조사통계및연습(0011097-2300)_성적_220620_153025.xlsx', skiprows=1, sheet_name="과제(0011097-2300)")

In [28]:
s_stat_final=s_stat.merge(s_stat2, on = "이름").drop(columns = ["No_x", "수강상태_x", "수강구분_x", "No_y", "학과_x", "학년_x", "학번_y", "학년_y",
                                                  "수강상태_y", "수강구분_y", "점수", "비고"]).rename(columns={"학번_x":"학번"}).sort_values("학번")

In [30]:
s_stat_final.drop(columns="과제")

,학번,이름,출석,최종점수,등급,학과_y,총점,[과제]첫 번째 QUIZ - 히스토그램과 줄기그림 그리기,[과제]두번째 퀴즈: _x0008_대표값과 분포 이해하기,[과제]세번째 퀴즈: 신뢰수준 95%의 신뢰구간,[과제]중간 고사 제출,[과제]네번째 퀴즈: 함수로 확률 계산하기,[과제]다섯번째 과제: 신뢰구간 성질 확인하기,[과제]여섯번째 퀴즈 : 샘플링 / 부트스트래핑,[과제]영화 감상문 - 머니볼,[과제]기말고사 제출,[과제]Default
10,2015110390,허지현,9.66,84.66,B,사회학과,75.0,3,4,5,15,3,5,0,5,10,25
0,2017110360,권민성,3.50,28.50,F,사회학과,25.0,0,0,0,0,0,0,0,0,0,25
1,2017110371,김근홍,4.66,34.66,F,사회학과,30.0,5,0,0,0,0,0,0,0,0,25
8,2017113073,권태현,9.50,81.00,B,사회학과,71.5,0,5,4,12.5,4,0,4,4,13,25
2,2018110347,정은화,8.16,50.16,F,사회학과,42.0,0,0,0,9,0,0,0,0,8,25
17,2018110361,강성훈,10.00,99.50,A+,사회학과,89.5,5,5,5,14.5,5,5,5,5,15,25
14,2018110366,박형진,9.50,93.50,A,사회학과,84.0,3,5,4,14,4,5,5,5,14,25
6,2019110366,박소명,9.66,66.66,D+,사회학과,57.0,5,4,4,5,5,4,0,0,5,25
4,2019110373,김성수,8.50,66.00,D+,사회학과,57.5,5,0,4,7.5,4,0,4,3,5,25
11,2019110377,성현창,8.83,85.33,B+,사회학과,76.5,5,5,4,13.5,0,5,4,5,10,25
7,2019110378,최세훈,10.00,68.00,D+,사회학과,58.0,5,0,0,9,0,5,0,5,9,25
12,2019110385,김준태,10.00,89.00,B+,사회학과,79.0,5,0,5,14,5,5,3,5,12,25
13,2019110905,김나리,8.66,89.16,B+,국어교육과,80.5,0,5,5,15,4.5,5,5,5,11,25
5,2020110334,장민욱,9.00,66.50,D+,사회학과,57.5,0,3,5,12.5,2,0,0,0,10,25
9,2020110341,최지원,9.66,84.16,B,사회학과,74.5,5,5,5,11.5,4,4.5,3.5,0,11,25
16,2021110219,고영주,10.00,94.50,A,사회학과,84.5,5,5,5,10.5,5,5,4,5,15,25
3,2021110221,정유나,10.00,59.00,F,사회학과,49.0,5,0,3,5,0,0,0,4,7,25
15,2021110223,유도겸,10.00,93.50,A,사회학과,83.5,5,5,5,15,4,5,3.5,4,12,25

In [38]:
s_stat_final = s_stat_final.assign(과제합계 = s_stat_final.iloc[:, 8] + s_stat_final.iloc[:, 9] + s_stat_final.iloc[:, 10] + s_stat_final.iloc[:, 12]\
    + s_stat_final.iloc[:, 13] + s_stat_final.iloc[:, 14] + s_stat_final.iloc[:, 15] + s_stat_final.iloc[:, 17],
                    중간고사 = s_stat_final.iloc[:, 11],
                    기말고사 = s_stat_final.iloc[:, 16])

In [58]:
s_stat_final = s_stat_final.drop(columns=["등급", "학과_y", "총점", "최종점수", "과제"])

In [65]:
s_stat_final = s_stat_final.assign(출석 = s_stat_final.출석.apply(np.ceil))

In [69]:
s_stat_final = s_stat_final.assign(최종점수 = s_stat_final.iloc[:, 2] + s_stat_final.iloc[:, 13] + s_stat_final.iloc[:, 14] + s_stat_final.iloc[:, 15])

In [83]:
ranges = [0, 59.5, 64.5, 69.5, 74.5, 79.5, 84.5, 89.5, 94.5, 99.5]
labels = ['F', 'D', 'D+', 'C', 'C+', 'B', 'B+', 'A', 'A+']

In [84]:
s_stat_final = s_stat_final.assign(등급 = pd.cut(s_stat_final.최종점수, ranges, labels=labels))

In [85]:
s_stat_score = s_stat_final[['학번', '이름', '출석', '중간고사', '기말고사', '과제합계', '최종점수', '등급']]

In [86]:
s_stat_score

            학번   이름    출석  중간고사 기말고사  과제합계  최종점수  등급
10  2015110390  허지현  10.0    15   10    50  85.0  B+
0   2017110360  권민성   4.0     0    0    25  29.0   F
1   2017110371  김근홍   5.0     0    0    30  35.0   F
8   2017113073  권태현  10.0  12.5   13    46  81.5   B
2   2018110347  정은화   9.0     9    8    25  51.0   F
17  2018110361  강성훈  10.0  14.5   15    60  99.5  A+
14  2018110366  박형진  10.0    14   14    56  94.0   A
6   2019110366  박소명  10.0     5    5    47  67.0  D+
4   2019110373  김성수   9.0   7.5    5    45  66.5  D+
11  2019110377  성현창   9.0  13.5   10    53  85.5  B+
7   2019110378  최세훈  10.0     9    9    40  68.0  D+
12  2019110385  김준태  10.0    14   12    53  89.0  B+
13  2019110905  김나리   9.0    15   11  54.5  89.5  B+
5   2020110334  장민욱   9.0  12.5   10    35  66.5  D+
9   2020110341  최지원  10.0  11.5   11  52.0  84.5   B
16  2021110219  고영주  10.0  10.5   15    59  94.5   A
3   2021110221  정유나  10.0     5    7    37  59.0   F
15  2021110223  유도겸  10.0    15   12  56.5  93.5   A

In [92]:
da = pd.read_excel("/Users/seunghoonyang/Documents/001.경남대/1.강의/2022-01/데이터분석2/최종성적_데이터분석2_202201/데이터분석II_성적.xlsx", skiprows=1,
                   dtype={'학번': str})
da2 = pd.read_excel("/Users/seunghoonyang/Documents/001.경남대/1.강의/2022-01/데이터분석2/최종성적_데이터분석2_202201/데이터분석II_성적.xlsx", skiprows=1, 
                    sheet_name="과제(0011106-2300)", dtype={'학번': str})

In [97]:
da.drop(0, axis=0, inplace=True)

In [98]:
da2.drop(0, axis=0, inplace=True)

In [99]:
da

      No    학과          학번   학년   이름 수강구분  수강상태    출석    과제   최종점수   등급   비고
1    1.0  사회학과  2019110374  4.0  구신영  수강생   NaN     7  24.5   31.5  NaN  NaN
2    2.0  사회학과  2019110370  4.0  최다은  수강생   NaN  7.16    32  39.16  NaN  NaN
3    3.0  사회학과  2020110328  3.0  노경민  수강생   NaN    10    65     75  NaN  NaN
4    4.0  사회학과  2020110326  3.0  최정훈  수강생   NaN  9.66    66  75.66  NaN  NaN
5    5.0  사회학과  2020110342  3.0  이희영  수강생   NaN  9.83  66.5  76.33  NaN  NaN
6    6.0  사회학과  2020110330  3.0  신예지  수강생   NaN  9.33    75  84.33  NaN  NaN
7    7.0  사회학과  2020110338  3.0  정인준  수강생   NaN    10  75.5   85.5  NaN  NaN
8    8.0  사회학과  2012110541  3.0  오성진  수강생   NaN    10    76     86  NaN  NaN
9    9.0  사회학과  2018110365  3.0  양진석  수강생   NaN  9.33  78.5  87.83  NaN  NaN
10  10.0  사회학과  2018110350  3.0  송효준  수강생   NaN    10    79     89  NaN  NaN
11  11.0  사회학과  2020112938  3.0  한경빈  수강생   NaN  9.16    81  90.16  NaN  NaN
12  12.0  사회학과  2020110322  3.0  최재윤  수강생   NaN    10    86     96  NaN  NaN
13  13.0  사회학과  2020110323  3.0  김승지  수강생   NaN    10  86.5   96.5  NaN  NaN

In [110]:
da_final = da.merge(da2, on = ['No', '학과', '학번', '학년', '이름', '수강구분', '수강상태'])\
    .drop(columns=['No', '수강구분', '학년', '수강상태', '등급', '비고', '학과', '최종점수', '점수', '총점'])\
        .sort_values('학번')

In [112]:
da_final.head(3)

,학번,이름,출석,과제,[과제]Quiz 1 - 작업환경 구축,[과제]Quiz 2 - 파이썬 기본 문법 P-SET 1,"[과제]Quiz 3 - 리스트, 튜플, 세트(집합)",[과제]P-SET 4 : 구구단 게임,[과제]P-SET 5: 판다스 기초 연습,[과제]중간고사 제출,[과제]기말 과제 계획서 제출,[과제]P-SET 6 : 시각화 연습,[과제]영화 감상문 - 머니볼,[과제]기말 과제 최종본 제출,[과제]기말고사 제출
7,2012110541,오성진,10,76,5,4.5,4.5,5,4,14,4,5,5,17,8
9,2018110350,송효준,10,79,5,5,5,5,5,14.5,4,5,5,17,8.5
8,2018110365,양진석,9.33,78.5,5,5,4.5,4.5,5,10,5,4,5,19,11.5

In [123]:
da_score = da_final.assign(quiz = da_final.iloc[:, 3] - da_final.iloc[:, 9] - da_final.iloc[:, 14] - da_final.iloc[:, 10] - da_final.iloc[:, 13],
                기말과제 = da_final.iloc[:, 10] + da_final.iloc[:, 13],
                중간고사 = da_final.iloc[:, 9],
                기말고사 = da_final.iloc[:, 14])

In [124]:
da_score = da_score[['학번', '이름', '출석', '중간고사', '기말고사', 'quiz', '기말과제']]

In [125]:
da_score

            학번   이름    출석  중간고사  기말고사  quiz  기말과제
7   2012110541  오성진    10    14     8    33    21
9   2018110350  송효준    10  14.5   8.5  35.0    21
8   2018110365  양진석  9.33    10  11.5  33.0    24
1   2019110370  최다은  7.16     9     3    16     4
0   2019110374  구신영     7     0   4.5   5.0    15
11  2020110322  최재윤    10    15    13    35    23
12  2020110323  김승지    10    15  13.5  35.0    23
3   2020110326  최정훈  9.66    12   8.5  27.5    18
2   2020110328  노경민    10     8   6.5  31.5    19
5   2020110330  신예지  9.33    14   4.5  33.5    23
6   2020110338  정인준    10    14   7.5  32.0    22
4   2020110342  이희영  9.83    10   5.5  31.5  19.5
10  2020112938  한경빈  9.16    15     7    34    25

In [127]:
da_score = da_score.assign(최종점수 = da_score['출석'] + da_score['중간고사'] + da_score['기말고사'] + da_score['quiz'] + da_score['기말과제'])

In [128]:
da_score = da_score.assign(등급 = pd.cut(da_score.최종점수, ranges, labels=labels))

In [129]:
da_score

            학번   이름    출석  중간고사  기말고사  quiz  기말과제   최종점수  등급
7   2012110541  오성진    10    14     8    33    21     86  B+
9   2018110350  송효준    10  14.5   8.5  35.0    21   89.0  B+
8   2018110365  양진석  9.33    10  11.5  33.0    24  87.83  B+
1   2019110370  최다은  7.16     9     3    16     4  39.16   F
0   2019110374  구신영     7     0   4.5   5.0    15   31.5   F
11  2020110322  최재윤    10    15    13    35    23     96  A+
12  2020110323  김승지    10    15  13.5  35.0    23   96.5  A+
3   2020110326  최정훈  9.66    12   8.5  27.5    18  75.66  C+
2   2020110328  노경민    10     8   6.5  31.5    19   75.0  C+
5   2020110330  신예지  9.33    14   4.5  33.5    23  84.33   B
6   2020110338  정인준    10    14   7.5  32.0    22   85.5  B+
4   2020110342  이희영  9.83    10   5.5  31.5  19.5  76.33  C+
10  2020112938  한경빈  9.16    15     7    34    25  90.16   A