In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import rc
rc('font', family='AppleGothic')

plt.rcParams['axes.unicode_minus'] = False

In [4]:
apt_sale = pd.read_excel("apt_sale_total.xlsx", index_col='Unnamed: 0')

In [10]:
apt_rent = pd.read_excel("apt_rent_total.xlsx", index_col='Unnamed: 0')

In [11]:
apt_rent.columns

Index(['시군구', '번지', '본번', '부번', '단지명', '전월세구분', '전용면적(㎡)', '계약년월', '계약일',
       '보증금(만원)', '월세(만원)', '층', '건축년도', '도로명', '계약기간', '계약구분', '갱신요구권 사용',
       '종전계약 보증금 (만원)', '종전계약 월세 (만원)'],
      dtype='object')

In [12]:
apt_sale.columns

Index(['시군구', '번지', '본번', '부번', '단지명', '전용면적(㎡)', '계약년월', '계약일', '거래금액(만원)',
       '층', '건축년도', '도로명', '해제사유발생일', '거래유형', '중개사소재지', '거래금액'],
      dtype='object')

In [13]:
apt_sale.head(1)

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지,거래금액
0,서울특별시 서대문구 남가좌동,377,377,0,DMC래미안클라시스,59.93,200601,17,"21,500",7,2000,증가로 191,NaN,-,-,21500

In [14]:
apt_rent.head(1)

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세(만원),층,건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금 (만원),종전계약 월세 (만원)
0,서울특별시 서대문구 남가좌동,377,377,0,DMC래미안클라시스,전세,59.97,201101,3,"17,000",0,12.0,2000,증가로 191,-,-,-,,

In [15]:
apt_total = pd.concat([apt_sale, apt_rent])

In [16]:
apt_total.to_excel("apt_total.xlsx")

In [17]:
apt_sale["구분"]="매매"

In [18]:
apt_sale

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지,거래금액,구분
0,서울특별시 서대문구 남가좌동,377,377,0,DMC래미안클라시스,59.93,200601,17,"21,500",7,2000,증가로 191,NaN,-,-,21500,매매
1,서울특별시 서대문구 남가좌동,377,377,0,DMC래미안클라시스,84.90,200601,22,"30,350",11,2000,증가로 191,NaN,-,-,30350,매매
2,서울특별시 서대문구 남가좌동,377,377,0,DMC래미안클라시스,59.59,200601,25,"20,200",9,2000,증가로 191,NaN,-,-,20200,매매
3,서울특별시 서대문구 남가좌동,377,377,0,DMC래미안클라시스,59.59,200602,14,"21,000",10,2000,증가로 191,NaN,-,-,21000,매매
4,서울특별시 서대문구 남가좌동,377,377,0,DMC래미안클라시스,84.90,200602,14,"28,000",5,2000,증가로 191,NaN,-,-,28000,매매
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35421,서울특별시 서대문구 홍제동,331,331,0,홍제현대,60.81,202112,11,"73,000",5,1992,통일로39가길 57,NaN,중개거래,서울 서대문구,73000,매매
35422,서울특별시 서대문구 홍제동,346-7,346,7,힐탑,27.96,202106,23,"19,500",2,2003,송죽길 57-4,NaN,-,-,19500,매매
35423,서울특별시 서대문구 홍제동,346-7,346,7,힐탑,27.96,202106,23,"19,800",3,2003,송죽길 57-4,NaN,-,-,19800,매매
35424,서울특별시 서대문구 홍제동,346-7,346,7,힐탑,40.66,202106,24,"30,000",6,2003,송죽길 57-4,NaN,-,-,30000,매매
35425,서울특별시 서대문구 홍제동,346-7,346,7,힐탑,31.00,202106,24,"19,500",1,2003,송죽길 57-4,NaN,-,-,19500,매매

In [20]:
apt_rent.rename(columns={"전월세구분":"구분"}, inplace=True)

In [21]:
apt_total = pd.concat([apt_sale, apt_rent])

In [23]:
apt_total.to_excel("apt_total.xlsx")

In [24]:
apt_total

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,...,중개사소재지,거래금액,구분,보증금(만원),월세(만원),계약기간,계약구분,갱신요구권 사용,종전계약 보증금 (만원),종전계약 월세 (만원)
0,서울특별시 서대문구 남가좌동,377,377,0,DMC래미안클라시스,59.93,200601,17,"21,500",7.0,...,-,21500.0,매매,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,서울특별시 서대문구 남가좌동,377,377,0,DMC래미안클라시스,84.90,200601,22,"30,350",11.0,...,-,30350.0,매매,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,서울특별시 서대문구 남가좌동,377,377,0,DMC래미안클라시스,59.59,200601,25,"20,200",9.0,...,-,20200.0,매매,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,서울특별시 서대문구 남가좌동,377,377,0,DMC래미안클라시스,59.59,200602,14,"21,000",10.0,...,-,21000.0,매매,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,서울특별시 서대문구 남가좌동,377,377,0,DMC래미안클라시스,84.90,200602,14,"28,000",5.0,...,-,28000.0,매매,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46364,서울특별시 서대문구 홍제동,331,331,0,홍제현대,75.15,202203,4,NaN,10.0,...,NaN,NaN,전세,"39,375",0.0,-,-,-,,
46365,서울특별시 서대문구 홍제동,331,331,0,홍제현대,75.15,202203,5,NaN,8.0,...,NaN,NaN,전세,"38,000",0.0,-,-,-,,
46366,서울특별시 서대문구 홍제동,331,331,0,홍제현대,83.05,202203,7,NaN,15.0,...,NaN,NaN,월세,"25,000",100.0,-,-,-,,
46367,서울특별시 서대문구 홍제동,331,331,0,홍제현대,75.15,202203,18,NaN,5.0,...,NaN,NaN,전세,"52,000",0.0,-,-,-,,
46368,서울특별시 서대문구 홍제동,331,331,0,홍제현대,106.18,202203,26,NaN,2.0,...,NaN,NaN,전세,"44,000",0.0,-,-,-,,

In [25]:
def day_parser(x):
    if len(str(x)) == 1:
        return "0"+str(x)
    else:
        return x

In [28]:
apt_total["계약일"].map(day_parser)

0        17
1        22
2        25
3        14
4        14
         ..
46364    04
46365    05
46366    07
46367    18
46368    26
Name: 계약일, Length: 81795, dtype: object

In [30]:
apt_total["계약일"] = apt_total["계약일"].map(day_parser)

In [36]:
apt_total.계약일.info()

<class 'pandas.core.series.Series'>
Int64Index: 81795 entries, 0 to 46368
Series name: 계약일
Non-Null Count  Dtype
--------------  -----
81795 non-null  object
dtypes: object(1)
memory usage: 1.2+ MB

In [57]:
apt_total.ymd

'0        200601\n1        200601\n2        200601\n3        200602\n4        200602\n          ...  \n46364    202203\n46365    202203\n46366    202203\n46367    202203\n46368    202203\nName: 계약년월, Length: 81795, dtype: int64'

In [53]:
apt_total.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,...,거래금액,구분,보증금(만원),월세(만원),계약기간,계약구분,갱신요구권 사용,종전계약 보증금 (만원),종전계약 월세 (만원),ymd
0,서울특별시 서대문구 남가좌동,377,377,0,DMC래미안클라시스,59.93,200601,17,"21,500",7.0,...,21500.0,매매,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0 200601\n1 200601\n2 200...
1,서울특별시 서대문구 남가좌동,377,377,0,DMC래미안클라시스,84.90,200601,22,"30,350",11.0,...,30350.0,매매,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0 200601\n1 200601\n2 200...
2,서울특별시 서대문구 남가좌동,377,377,0,DMC래미안클라시스,59.59,200601,25,"20,200",9.0,...,20200.0,매매,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0 200601\n1 200601\n2 200...
3,서울특별시 서대문구 남가좌동,377,377,0,DMC래미안클라시스,59.59,200602,14,"21,000",10.0,...,21000.0,매매,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0 200601\n1 200601\n2 200...
4,서울특별시 서대문구 남가좌동,377,377,0,DMC래미안클라시스,84.90,200602,14,"28,000",5.0,...,28000.0,매매,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0 200601\n1 200601\n2 200...

In [54]:
apt_total.loc[:, ["계약년월", "계약일", "ymd"]]

         계약년월 계약일                                                ymd
0      200601  17  0        200601\n1        200601\n2        200...
1      200601  22  0        200601\n1        200601\n2        200...
2      200601  25  0        200601\n1        200601\n2        200...
3      200602  14  0        200601\n1        200601\n2        200...
4      200602  14  0        200601\n1        200601\n2        200...
...       ...  ..                                                ...
46364  202203  04  0        200601\n1        200601\n2        200...
46365  202203  05  0        200601\n1        200601\n2        200...
46366  202203  07  0        200601\n1        200601\n2        200...
46367  202203  18  0        200601\n1        200601\n2        200...
46368  202203  26  0        200601\n1        200601\n2        200...

[81795 rows x 3 columns]