In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import rc
rc('font', family='AppleGothic')

plt.rcParams['axes.unicode_minus'] = False

In [4]:
apt_sale = pd.read_excel("apt_sale_total.xlsx", index_col='Unnamed: 0')

In [10]:
apt_rent = pd.read_excel("apt_rent_total.xlsx", index_col='Unnamed: 0')

In [11]:
apt_rent.columns

Index(['시군구', '번지', '본번', '부번', '단지명', '전월세구분', '전용면적(㎡)', '계약년월', '계약일',
       '보증금(만원)', '월세(만원)', '층', '건축년도', '도로명', '계약기간', '계약구분', '갱신요구권 사용',
       '종전계약 보증금 (만원)', '종전계약 월세 (만원)'],
      dtype='object')

In [12]:
apt_sale.columns

Index(['시군구', '번지', '본번', '부번', '단지명', '전용면적(㎡)', '계약년월', '계약일', '거래금액(만원)',
       '층', '건축년도', '도로명', '해제사유발생일', '거래유형', '중개사소재지', '거래금액'],
      dtype='object')

In [13]:
apt_sale.head(1)

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지,거래금액
0,서울특별시 서대문구 남가좌동,377,377,0,DMC래미안클라시스,59.93,200601,17,"21,500",7,2000,증가로 191,NaN,-,-,21500

In [14]:
apt_rent.head(1)

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세(만원),층,건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금 (만원),종전계약 월세 (만원)
0,서울특별시 서대문구 남가좌동,377,377,0,DMC래미안클라시스,전세,59.97,201101,3,"17,000",0,12.0,2000,증가로 191,-,-,-,,

In [15]:
apt_total = pd.concat([apt_sale, apt_rent])

In [16]:
apt_total.to_excel("apt_total.xlsx")