In [3]:
import pandas as pd
import numpy as np
import requests
import datetime

In [9]:
# url ="http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev"
# service_key = "zMW9b9LC3pNotbnpMGVR3ojx8p3kTvCznY/P9VOehNp7UaoOzwhN5/MT01Br4NNS/AgaSPLOogVHKLzoGdAttg=="
# base_date = "202001" 
# gu_code = '11215' ## 법정동 코드 5자리라면, 구 단위로 데이터를 확보하는 것. 11215 = 광진구

# payload = "LAWD_CD=" + gu_code + "&" + \
#           "DEAL_YMD=" + base_date + "&" + \
#           "serviceKey=" + service_key + "&" 
          
# res = requests.get(url + payload)
# print(res)

<Response [404]>

In [18]:
url = rl = "http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev"
service_key = "zMW9b9LC3pNotbnpMGVR3ojx8p3kTvCznY/P9VOehNp7UaoOzwhN5/MT01Br4NNS/AgaSPLOogVHKLzoGdAttg=="
gu_code = "11215" ## 법정동 코드 5자리라면, 구 단위로 데이터를 확보하는 것. 11215 = 광진구
base_date = "202001" 
params ={"serviceKey" : service_key, "pageNo" : '1', "numOfRows" : '1000', "LAWD_CD" : gu_code, "DEAL_YMD" : base_date}
response = requests.get(url, params = params)
print(response)

<Response [200]>

In [19]:
import xml.etree.ElementTree as ET

def get_items(response):
    root = ET.fromstring(response.content.decode('utf-8'))
    item_list = []
    for child in root.find('body').find('items'):
        elements = child.findall('*')
        data = {}
        for element in elements:
            tag = element.tag.strip()
            text = element.text.strip()
            # print tag, text
            data[tag] = text
        item_list.append(data)  
    return item_list
    
items_list = get_items(response)
items = pd.DataFrame(items_list) 
items.head()

,거래금액,거래유형,건축년도,년,도로명,도로명건물본번호코드,도로명건물부번호코드,도로명시군구코드,도로명일련번호코드,도로명지상지하코드,...,월,일,일련번호,전용면적,중개사소재지,지번,지역코드,층,해제사유발생일,해제여부
0,"42,500",,2009,2020,용마산로1길,00048,00000,11215,01,0,...,1,3,11215-2782,67.8,,130-5,11215,5,,
1,"53,800",,2002,2020,용마산로1길,00084,00000,11215,01,0,...,1,6,11215-94,84.33,,133-9,11215,6,,
2,"50,500",,2002,2020,용마산로1길,00084,00000,11215,01,0,...,1,22,11215-94,84.91,,133-9,11215,1,,
3,"134,350",,1996,2020,광나루로56길,00032,00000,11215,01,0,...,1,3,11215-25,84.91,,611,11215,13,,
4,"104,500",,2010,2020,천호대로,00716,00000,11215,03,0,...,1,8,11215-2912,108.72,,663,11215,3,,

In [20]:
params

{'serviceKey': 'zMW9b9LC3pNotbnpMGVR3ojx8p3kTvCznY/P9VOehNp7UaoOzwhN5/MT01Br4NNS/AgaSPLOogVHKLzoGdAttg==',
 'pageNo': '1',
 'numOfRows': '1000',
 'LAWD_CD': '11215',
 'DEAL_YMD': '202001'}

In [21]:
requests.get(url, params)

In [22]:
items

,거래금액,거래유형,건축년도,년,도로명,도로명건물본번호코드,도로명건물부번호코드,도로명시군구코드,도로명일련번호코드,도로명지상지하코드,...,월,일,일련번호,전용면적,중개사소재지,지번,지역코드,층,해제사유발생일,해제여부
0,"42,500",,2009,2020,용마산로1길,00048,00000,11215,01,0,...,1,3,11215-2782,67.8,,130-5,11215,5,,
1,"53,800",,2002,2020,용마산로1길,00084,00000,11215,01,0,...,1,6,11215-94,84.33,,133-9,11215,6,,
2,"50,500",,2002,2020,용마산로1길,00084,00000,11215,01,0,...,1,22,11215-94,84.91,,133-9,11215,1,,
3,"134,350",,1996,2020,광나루로56길,00032,00000,11215,01,0,...,1,3,11215-25,84.91,,611,11215,13,,
4,"104,500",,2010,2020,천호대로,00716,00000,11215,03,0,...,1,8,11215-2912,108.72,,663,11215,3,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,"8,500",,1999,2020,능동로19길,00047,00000,11215,01,0,...,1,11,11215-98,13.94,,110-37,11215,2,,
59,"15,700",,2014,2020,능동로19길,00035,00000,11215,01,0,...,1,15,11215-3509,15.2,,113-1,11215,12,,
60,"74,000",,1996,2020,군자로12길,00046,00000,11215,01,0,...,1,7,11215-41,114.86,,99,11215,20,,
61,"99,700",,2008,2020,광나루로,00369,00000,11215,05,0,...,1,19,11215-2656,130.35,,503,11215,10,,
62,"98,000",,2008,2020,광나루로,00369,00000,11215,05,0,...,1,22,11215-2656,136.95,,503,11215,7,,